<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x86_64</key>
	<dict>
		<key>name</key>
		<string>Simulator</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>i386</key>
	<dict>
		<key>name</key>
		<string>Simulator</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 1st Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 4th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod5,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 5th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPod7,1</key>
	<dict>
		<key>name</key>
		<string>iPod Touch 6th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone1,1</key>
	<dict>
		<key>name</key>
		<string>iPhone</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 3G</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 3GS</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 4</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone3,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 4</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>name</key>
		<string>iPhone 4</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone4,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 4S</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone5,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 5 model A1428</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone5,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 5 model A1429</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone5,3</key>
	<dict>
		<key>name</key>
		<string>iPhone 5C</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone5,4</key>
	<dict>
		<key>name</key>
		<string>iPhone 5C</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 5S</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 5S</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone7,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 6</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone7,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone8,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 6S</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone8,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 6S Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone8,4</key>
	<dict>
		<key>name</key>
		<string>iPhone SE</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone9,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 7</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone9,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 7 Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone9,3</key>
	<dict>
		<key>name</key>
		<string>iPhone 7</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone9,4</key>
	<dict>
		<key>name</key>
		<string>iPhone 7 Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone10,1</key>
	<dict>
		<key>name</key>
		<string>iPhone 8</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone10,4</key>
	<dict>
		<key>name</key>
		<string>iPhone 8</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone10,2</key>
	<dict>
		<key>name</key>
		<string>iPhone 8 Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone10,5</key>
	<dict>
		<key>name</key>
		<string>iPhone 8 Plus</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPhone10,3</key>
	<dict>
		<key>name</key>
		<string>iPhone X</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPhone10,6</key>
	<dict>
		<key>name</key>
		<string>iPhone X</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPhone11,2</key>
	<dict>
		<key>name</key>
		<string>iPhone XS</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPhone11,4</key>
	<dict>
		<key>name</key>
		<string>iPhone XS Max</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPhone11,6</key>
	<dict>
		<key>name</key>
		<string>iPhone XS Max</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPhone11,8</key>
	<dict>
		<key>name</key>
		<string>iPhone XR</string>
		<key>notch</key>
		<string>YES</string>
		<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>name</key>
		<string>iPad</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,1</key>
	<dict>
		<key>name</key>
		<string>iPad 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,2</key>
	<dict>
		<key>name</key>
		<string>iPad 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,3</key>
	<dict>
		<key>name</key>
		<string>iPad 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,4</key>
	<dict>
		<key>name</key>
		<string>iPad 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,1</key>
	<dict>
		<key>name</key>
		<string>iPad 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,2</key>
	<dict>
		<key>name</key>
		<string>iPad 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,3</key>
	<dict>
		<key>name</key>
		<string>iPad 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,4</key>
	<dict>
		<key>name</key>
		<string>iPad 4th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,5</key>
	<dict>
		<key>name</key>
		<string>iPad 4th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad3,6</key>
	<dict>
		<key>name</key>
		<string>iPad 4th Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,1</key>
	<dict>
		<key>name</key>
		<string>iPad Air</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,2</key>
	<dict>
		<key>name</key>
		<string>iPad Air</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,3</key>
	<dict>
		<key>name</key>
		<string>iPad Air</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,5</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 1st Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,6</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 1st Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad2,7</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 1st Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,4</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,5</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,6</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,7</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,8</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad4,9</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 3rd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad5,1</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 4</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad5,2</key>
	<dict>
		<key>name</key>
		<string>iPad Mini 4</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad5,3</key>
	<dict>
		<key>name</key>
		<string>iPad Air 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad5,4</key>
	<dict>
		<key>name</key>
		<string>iPad Air 2</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad6,3</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 9.7 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad6,4</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 9.7 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad6,7</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad6,8</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad7,1</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad7,2</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 2nd Gen</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad7,3</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 10.5 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad7,4</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 10.5 inch</string>
		<key>notch</key>
		<string>NO</string>
	</dict>
	<key>iPad8,1</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 11 inch</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,2</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 11 inch</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,3</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 11 inch</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,4</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 11 inch</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,5</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 3rd Gen</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,6</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 3rd Gen</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,7</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 3rd Gen</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>iPad8,8</key>
	<dict>
		<key>name</key>
		<string>iPad Pro 12.9 inch 3rd Gen</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Unknown</key>
	<dict>
		<key>name</key>
		<string>Unreleased iOS Device</string>
		<key>notch</key>
		<string>YES</string>
			<key>portrait</key>
		<dict>
			<key>left</key>
			<string>0</string>
			<key>right</key>
			<string>0</string>
			<key>bottom</key>
			<string>34</string>
			<key>top</key>
			<string>44</string>
		</dict>
		<key>landscape</key>
		<dict>
			<key>left</key>
			<string>44</string>
			<key>right</key>
			<string>44</string>
			<key>bottom</key>
			<string>21</string>
			<key>top</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
